.header-background{
    background: url('../../assets/Header.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hover-button {
    transition: background-image 0.3s ease-in-out;
}

.hover-button:hover {
    background-image: url('../../assets/buttons.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid green;
    border-radius: 5px;
}
